# Dependencies
node_modules

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# OS
.DS_Store

# Environment Variables
.env
.env.*
!.env.example

# Logs
*.log