.btn {
  @apply relative transition duration-200 text-xs px-6 py-2 rounded font-medium;
  @apply bg-neutral-900 text-neutral-100 dark:bg-neutral-100 dark:text-neutral-900;

  &:hover {
    @apply bg-neutral-700 dark:bg-neutral-300;
  }

  &:active {
    @apply top-px;
  }

  &-outline {
    @apply bg-transparent text-inherit;
    @apply border border-neutral-700 dark:border-neutral-300;

    &:hover {
      @apply bg-neutral-600/10 dark:bg-neutral-400/10;
    }
  }

  &:disabled {
    @apply opacity-50;

    &:hover {
      @apply bg-neutral-900 dark:bg-neutral-100;
    }
  }
}
