.resume {
  @apply grid gap-2;

  .preview {
    aspect-ratio: 1 / 1.41;

    @apply flex items-center justify-center;
    @apply bg-neutral-100 dark:bg-neutral-800 rounded-sm cursor-pointer transition-opacity hover:opacity-80;
  }

  footer {
    @apply flex items-center justify-between;

    .meta {
      p:first-child {
        @apply text-sm font-semibold leading-relaxed;
      }

      p:last-child {
        @apply text-xs opacity-50 leading-relaxed;
      }
    }
  }
}
